


h1 {
	text-align: center;
}

main {
	display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
}

main section {
	border: 1px solid burlywood;
	width: 100%;
}

.erreur, .erreur p {
	color: red;
}

.valid, .valid p {
	color: green;
}